@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 217 10% 3.9%;
    --text: 217 39.29% 10.98%;
    --text-foreground: 217 8.94% 49.08%;
    --border: 217 14% 84%;
    --input: 217 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 217 10% 3.9%;
    --primary: 239 84% 67%;
    --primary-foreground: 217 68% 59.1%;
    --secondary: 217 4.8% 95.9%;
    --secondary-foreground: 217 5.9% 10%;
    --muted: 217 14% 90%;
    --muted-foreground: 217 3.8% 46.1%;
    --accent: 217 9% 73.9%;
    --accent-foreground: 217 5.9% 10%;
    --destructive: 0 84.2% 65.2%;
    --destructive-foreground: 0 77% 33%;
    --ring: 217 5.9% 10%;
    --radius: 0.75rem;
    --white: 0 0% 100%;
    --success: 142 69% 58%;
    --success-foreground: 138 76% 97%;
    --warning: 38 92% 50%;
    --warning-foreground: 33 100%, 96%;
    --error: 358 75% 59%;
    --error-foreground: 0 86% 97%;
  }

  .dark {
    --background: 223 16% 9%;
    --foreground: 0 0% 98%;
    --text: 223 16% 90.98%;
    --text-foreground: 223 16% 69.9%;
    --border: 223 16% 19%;
    --input: 223 16% 14%;
    --card: 223 16% 9%;
    --card-foreground: 0 0% 98%;
    --primary: 239 84% 67%;
    --primary-foreground: 223 89.47% 73.92%;
    --secondary: 223 3.7% 15.9%;
    --secondary-foreground: 223 3.7% 10.9%;
    --muted: 223 16% 18%;
    --muted-foreground: 223 5% 64.9%;
    --accent: 223 16% 36%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 55.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 223 4.9% 83.9%;
    --white: 0 0% 100%;
    --success: 142 69% 58%;
    --success-foreground: 144 61% 15%;
    --warning: 38 92% 50%;
    --warning-foreground: 38 92% 15%;
    --error: 358 75% 59%;
    --error-foreground: 358 75% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
